header{
    position: fixed;
    display: block;
    width: 100%;
    background-color: #2B2D42;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
 } 
 
 .navbar{
     display: flex;
     flex-direction: row;
     text-align: center;
     align-items: center;
     justify-content: center;
 }
 .navbar li{
    display: inline;
    margin: 10pt
 }
 .navbar li a {
     display: inline;
     color: white;
     text-decoration: none;
     margin-right: 8pt;
     padding: 8pt;
     cursor: pointer;
     transition: background-color 0.3s ease;
     border-radius: 8px;
 }
 
 .navbar li a:hover{
     background-color: #d56060;
     color: white;
 }
 